@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    color: #e5e5e5;
} */


.text-title{
    color: #e5e5e5;
}
.text-p{
    color: #ad241b;
}

.text-sub{
    color: #737272;
}



ul li a:focus{
    color: #ad241b !important;
}
